<!DOCTYPE html>
<html>
  <head>
    <title>Mark Attendance</title>
    <link rel='stylesheet' href='/stylesheets/ad-mark-attendance.css' />
  </head>
  <body>
    <div>
        
        <% if(message != null){ %>
          <div class="container">
              <div id='div-alert' class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" id='btn-alert'>&times;</a>
                <strong><%=message%></strong>
              </div>
          </div>
        <% } %>
        
        <form action="/submit-attendance" method="POST">
          <div style="margin:0 0 0 5px">
              <strong>Date:</strong><input type="date" name="date">
          </div>
          <div class="form-table-div">
            <table>
                <tr>
                  <th>Name</th>
                  <th>Father's Name</th>
                  <th>Recv Pass/App</th>
                  <th>Sort/Scrutiny</th>
                  <th>Track Pass/App</th>
                  <th>Entry/Editing</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th>Attendance</th>
                  <th>Remarks</th>
                </tr>
                <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].fname%></td>
                    <td><input type="text"  value="" name=<%=data[i]._id%>></td>
                    <td><input type="text"  value="" name=<%=data[i]._id%>></td>
                    <td><input type="text"  value="" name=<%=data[i]._id%>></td>
                    <td><input type="text"  value="" name=<%=data[i]._id%>></td>
                    <td><input type="time" value="00:00" name=<%=data[i]._id%>></td>
                    <td><input type="time" value="00:00" name=<%=data[i]._id%>></td>
                    <td><input type="checkbox" name=<%=data[i]._id%>></td>
                    <td><input type="text"  value="" name=<%=data[i]._id%>></td>
                  </tr>
                <% } %>
            </table>
          </div>
          <div style="margin:0 0 0 5px">
            <button class="btn btn-success btn-md">Submit</button>
          </div>
        </form>

    </div>



    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script  src="/javascripts/jquery.js"></script>
    <script  src="/javascripts/ad-mark-attendance.js"></script>
  </body>
</html>
