<!DOCTYPE html>
<html>
  <head>
    <title>Search Staff</title>
    <link rel='stylesheet' href='/stylesheets/ad-search-staff.css' />
  </head>
  <body>
    <div>
        
        <% if(message != null){ %>
          <div class="container">
              <div id='div-alert' class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" id='btn-alert'>&times;</a>
                <strong><%=message%></strong>
              </div>
          </div>
        <% } %>
      <div style="margin-left: 30%">
        <h1>Hajj Computer Cell (G-<%= user.section.group%>)</h1>
        <h2>POD (<%= user.section.name %>)</h2>
        <h3>Daily Attendance & Progress Report</h3>
      </div>
      <div class="form-attendance">
        <form action="/submit-search-attendance" method="POST">
            <div>
              <% if(date == null) { %>
                <strong>Date:</strong><input type="date" name="date">
              <% } else { %>
                <strong>Date:</strong><input type="date" name="date" value=<%=date%>>
              <% } %>
              <button class="btn btn-success btn-md div-btn-submit">Submit</button>
            </div>
            <% if(data.length > 0) { %>

                <div class="form-table-div">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Father's Name</th>
                              <th>Recv Pass/App</th>
                              <th>Sort/Scrutiny</th>
                              <th>Track Pass/App</th>
                              <th>Entry/Editing</th>
                              <th>Time In</th>
                              <th>Time Out</th>
                              <th>Attendance</th>
                              <th>Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i<data.length; i++) {%>
                              <tr>
                                <td><%=data[i].name%></td>
                                <td><%=data[i].fname%></td>
                                <td><%=data[i].rec_app_pass%></td>
                                <td><%=data[i].sort_scrutiny%></td>
                                <td><%=data[i].track_app_pass%></td>
                                <td><%=data[i].entry_edit%></td>
                                <td><%=data[i].timeIn%></td>
                                <td><%=data[i].timeOut%></td>
                                <td><%=data[i].IsPresent%></td>
                                <td><%=data[i].remarks%></td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                    </div>
                <div style="text-align: right">
                  <h3>Assistant Director(G-<%=user.section.group%>)</h3>
                </div>
            <% } %>    


        </form>

      </div>

    </div>



    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script  src="/javascripts/jquery.js"></script>
    <script  src="/javascripts/ad-mark-attendance.js"></script>
  </body>
</html>
